<launch>
    <arg name="downsample"/>
    <group ns="right/camera">
        <node pkg="image_proc" type="image_proc" name="right_image_proc" output="screen" />

        <node name="resized" pkg="nodelet" type="nodelet"
        args="standalone image_proc/resize"
        output="screen">
          <remap from="image" to="/right/camera/image_mono" />
          <param name="scale_width" value="$(arg downsample)" />
          <param name="scale_height" value="$(arg downsample)" />
        </node>
    </group>
    <group ns="left/camera">
        <node pkg="image_proc" type="image_proc" name="left_image_proc" output="screen" />

        <node name="resized" pkg="nodelet" type="nodelet"
        args="standalone image_proc/resize"
        output="screen">
          <remap from="image" to="/left/camera/image_mono" />
          <param name="scale_width" value="$(arg downsample)" />
          <param name="scale_height" value="$(arg downsample)" />
        </node>
    </group>

</launch>
